@import '../../../Scss/partials/link';

.imgCon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid $yellow-dark;
  @extend %center;
  margin-bottom: 20px;
  .imgWrap {
    width: 90%;
    height: 90%;
    @extend %center;
    overflow: hidden;
    border-radius: 50%;
    img {
      height: 100%;
    }
  }
}