$blue-dark: #7F85F9;
$blue-mid: #A0A5F1;
$blue-light: #E8ECF0;
$yellow-dark: #F8B13C;
$yellow-mid: #fdd492;
$yellow-light: #FDDEAF;
$black-dark: #000000;
$black-mid: #7e7e7e;
$black-light: #DDDDDD;
$gray-dark: #333333;
$gray-mid: #4F4F4F;
$green-dark: #48BD53;
$green-light: #DAF8E7;

$batch-green: $green-light;
$batch-pink: #F8E3FF; 
