@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  #root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 'navigation content' 1fr / 250px 1fr;
    column-gap: 10px;
    padding: 10px;
    background-color: #e8ecf0;
  }
}


.section-wrap {
  border-radius: 10px;
  background-color: white;
}
