@import '../../Scss/partials/link';






// upload 
.upload {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 1fr 100px;
  padding: 15px;
  justify-items: flex-start;
  row-gap: 20px;
}

.FileWrap {
  @extend %center;
  width: 100%;
  flex-direction: column;
  .icon {
    font-size: 100px;
    color: $blue-dark;
  }
}

.ongoing {
  width: 100%;
}

.progress {
  padding: 10px;
  border-radius: 5px;
  background-color: $blue-light;
}

.bar {
  .barBg {
    width: 100%;
    height: 5px;
    overflow: hidden;
    border-radius: 5px;
    
    .barFill {

    }
  }
}