@import '../../Scss/partials/link';

// upload
.upload {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: 35px 1fr 100px;
  padding: 15px;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: space-between;
  row-gap: 40px;
  .ongoing {
    .batch {
      margin-bottom: 15px;
    }
  }
}

.cardPad {
  padding: 15px;
}

.FileWrap {
  @extend %center;
  width: 100%;
  flex-direction: column;
  .icon {
    font-size: 100px;
    color: $blue-dark;
  }
  .uploadIcon {
    @extend .icon;
  }

  .downloadIcon {
    @extend .icon;
    color: $yellow-dark;
  }
}

.ongoing {
  width: 100%;
}

.progress {
  padding: 10px;
  border-radius: 5px;
  background-color: $blue-light;
}

.bar {
  .barBg {
    width: 100%;
    height: 6px;
    overflow: hidden;
    border-radius: 5px;
    background: $black-mid;
    .barFill {
      width: 50%;
      height: 100%;
      background-color: $blue-dark;
    }
  }
  @extend %center;
  column-gap: 10px;
  .status {
    font-weight: 600;
    color: $blue-dark;
    font-size: 14px;
  }
}

.fileSize {
  font-weight: 600;
  color: $gray-mid;
}

.titleWrap {
  @extend %center;
  justify-content: space-between;
  margin-bottom: 10px;
}

// computer style
.Computer {
  grid-area: batchMate;
}

.compList {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  margin-top: 20px;
}

.computerNode {
  padding: 10px 15px;
  border-radius: 6px;
  background-color: $blue-dark;
  color: white;
  @extend %center;
  justify-content: space-between;
  cursor: pointer;
  .details {
    @extend %center;
    .user {
      margin-left: 15px;
    }
  }
  .imgWrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @extend %center;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;
    }
  }

  .details {
  }
}

// software lists
.software {
  grid-area: softList;
  header {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    justify-items: flex-start;
    align-items: center;
    .search {
      width: 100%;
      height: 100%;
      background: #ffffff;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      position: relative;
      .searchBox {
        border-radius: 8px;
        border: none;
        outline: none;
        // background-color: rebeccapurple;
        width: 100%;
        height: 100%;
        padding: 10px;
        font-size: 1rem;
        font-weight: 500;
      }
      .searchBtn {
        position: absolute;
        background-color: transparent;
        z-index: 50;
        border: none;
        right: 4px;
        top: 5px;
        color: $gray-mid;
        font-size: 22px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        @extend %center;
        border-radius: 50%;
        &:hover {
          background-color: $black-light;
        }
      }
    }
  }

  .downSoftList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
  }

  .softwareNode {
    @extend .computerNode;

    .softDetails {
      @extend %center;
      .name {
        margin-left: 10px;
      }
    }

    .controlBtn {
      @extend %center;
      button {
        @extend %center;
        border: none;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        padding: 6px 10px;
        border-radius: 5px;
        cursor: pointer;
        p {
          margin-left: 8px;
          font-weight: 500;
        }
      }

      .install {
        background-color: $green-dark;
      }

      .delete {
        background-color: $red-dark;
        margin-left: 15px;
      }
    }
  }


}


